*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 248.98px;
}
.banners{
    width: 100%;
    height: 64.98px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banners p{
    width: 394px;
    height: 25px;
    max-width: 1840px;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24.99px;
    letter-spacing: 0%;
    color: #FFF;    
}
.navigation{
    width: 100%;
    height: 184px;
    background-color: #FFF;
    position: relative;
}
.top-left{
    width: 640px;
    height: 23px;
    position: relative;
    top: 24.02px;
    left: 47px;
}
.top-left nav{
    width: 520px;
    height: 23px;
    display: flex;
    padding-top: 3.5px;
    padding-bottom: 0.5px;
    gap: 10.2px;
    align-items: center;
}
.top-left nav>a{
    width: 170px;
    height: 19px;
    max-width: 640px;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0%;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    display: flex;
}
.third{
    flex: 0 0 180px;
    padding-left: 2px;
    gap: 10px;
}
.top-left nav>a>img{
    width: 18px;
    height: 16px;
}
.top-left nav>a>span{
    width: 146px;
    height: 19px;
}
.shopping-tools{
    width: 295.5px;
    height: 28.31px;
    position: relative;
    left: 1200px;
}
.shopping-tools a{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 28.32px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.cart{
    position: absolute;
    width: 49.7px;
    padding-right: 3.7px;
    border-right: 1px solid #ccc;
}
.sign{
    position: absolute;
    width: 73px; 
    top: -0.66px;
    left: 87px;
}
.logIn{
    width: 64px;
    position: absolute;
    top: -0.66px;
    left: 179.3px;
}
.shopping-tools a>img{
   width: 17px;
   height: 18px;
   position: absolute;
   top: -0.32px;
   left: 279.3px;
   padding-right: 0.34px;
   padding-left: 0.4px;
}
.shopping-tools:first-child{
    border-right: 2px solid black;
}
.lineVector{
    width: 100%;
    height: 0.5px;
    top: 64px;
    left: 0.5px;
}
.logoFill{
    width: 210px;
    height: 67.19px;
    position: absolute;
    top: 97.02px;
    left: 178px;
}
.group{
    width: 601px;
height: 29px;
position: absolute;
top: 116.02px;
left: 569px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.group div{
    height: 29px;
}
.categories1{
    width: 113px;
    top: 116.02px;
    left: 609px;
    gap: 6px;
}
.categories2{
    width: 86px;
    height: 29px;
    top: 116.02px;
    left: 779px;
}
.categories3{
    width: 99px;
    height: 29px;
    top: 116.02px;
    left: 922px;
}
.categories4{
    width: 90px;
height: 29px;
top: 116.02px;
left: 1078px;
gap: 6px;

}
.categories5{
    width: 85px;
height: 29px;
top: 116.02px;
left: 1225px;
gap: 6px;
}
.group div>a{
    font-family: 'Josefin Sans',sans-serif;
font-weight: 700;
font-size: 17px;
line-height: 28.32px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-decoration: none;
color: #000;
height: 29px;
}
.categories1>a{
    width: 92px;
}
.categories2>a{
    width: 65px;
}
.categories3>a{
    width: 78px;
}
.categories4>a{
    width: 69px;
}
.categories5>a{
    width: 64px;
}
.group div>img{
    width: 10.87px;
height: 10px;
position: relative;
top: 2.5px;
left: 2.06px;
}
.heroBanner{
    width: 100%;
height: 1080px;
position: relative;
overflow: hidden;
}
.heroBanner img{
    width: 100%;
    height: 1080px;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}
.heroBanner div{
    width: 642.07px;
    height: 354px;
    z-index: 1;
    position: absolute;
    top: 400px;
    left: 800px;
}
.heroBanner div>h1{
    width: 612px;
 height: 138px;
top: 15.98px;
left: -19.92px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 64px;
line-height: 66px;
letter-spacing: 0.25px;
text-align: right;
vertical-align: middle;
color: #FFF;
}
.heroBanner div>button{
    width: 175px;
height: 46px;
padding-top: 16px;
padding-right: 31px;
padding-bottom: 16px;
padding-left: 31px;
border-width: 2px;
border: 2px solid #FFF;
background-color: transparent;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #FFF;
margin-top: 80px;
margin-left: 440px;

}
.carousel{
    width: 100%;
height: 614px;
display: flex;
flex-direction: column;
}
.glide{
    display: flex;
    flex-direction: column;
}
.glide__arrows{
    width: 100%;
height: 80px;

display: flex;
justify-content: center;
padding-left: 50px;
gap: 5px;
}
.glide__arrows button{
    border: 1px solid transparent;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: relative;
    top: 50px;
    left: 630px;
    border: 1px solid transparent;
    box-shadow: none;
    
}
.glide__arrows button>img{
    width: 9.16px;
height: 19.41px;
}

.glide__track{
    width: 100%;
    height: 534px;
}
.glide__slides li{
    width:287px; /*607*/
height: 534px;
min-height: 1px;
gap: 20px;
padding-right: 15px;
padding-bottom: 21px;
padding-left: 15px;
}
.carouselImages img{
    width: 420px;
height: 460px;
max-width: 607px;
}
.carouselImages p{
    font-family: 'Josefin Sans',sans-serif;
font-weight: 300;
font-size: 18px;
line-height: 66px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: uppercase;
color: #000;
}
.aboutUs{
    width: 100%;
height: 500px;
display: flex;
flex-direction: row;
margin-top: 20px;
}
.aboutUs div{
width: 50%;
height: 500px;
background-color: #000;
}
.aboutUs img{
    width: 50%;
    height: 500px;
}
.aboutUs div>h2{
    width: 319px;
height: 50px;
position: relative;
top: 126px;
left: 146px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 25px;
line-height: 50px;
letter-spacing: 0%;
vertical-align: middle;
color: #FFF;

}
.aboutUs div>h1{
    width: 420px;
height: 150px;
max-width: 595px;
position: relative;
top: 140px;
left: 146px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 37px;
line-height: 40px;
letter-spacing: 0%;
vertical-align: middle;
color: #FFF;

}
.aboutUs div>button{
    width: 158px;
height: 46px;
position: relative;
top: 140px;
left: 146px;
gap: 10px;
border: 2px solid #FFF;
background-color: transparent;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 49px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #FFF;
}
.title{
    width: 386px;
height: 66px;
margin-bottom: 0;
margin-left: 40vw;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 25px;
line-height: 66px;
letter-spacing: 0%;
padding-top: 10px;
text-transform: uppercase;
margin-top: 20px;
}
.BOTTOM{
    width: 100%;
    height: 447px;
    display: grid;
grid-template-columns: repeat(4,1fr);
}

.produkt img{
    width: 319px;
height: 354px;
margin-left: 30px;
box-shadow: 0px 4px 4px 0px #0000000A;

}
.produkt p{
    margin-top: 7px;
   margin-left: 30px;
    width: 290;
height: 20;
font-family: 'Josefin Sans',sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;
}
.frame3{
    width: 100%;
    height: 320px;
    background-color: #F9F9F9;
    text-align: center;

}
.frame3 h1{
    height: 120px;
    font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 35px;
line-height: 66px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: uppercase;
padding-top: 40px;
}
.frame3 p{
    width: 950px;
height: 88px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
margin: 0 auto;
}
.frame3 h2{
width: 136px;
height: 50px;
margin: 0 auto;
font-family: 'Josefin Sans',sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 50px;
letter-spacing: 0%;
vertical-align: middle;
color: #000;
}
.frame3 div{
    display: flex;
    flex-direction: row;
    width: 75px;
height: 16px;
margin: 0 auto;
}
.frame3 div>img{
width: 12px;
height: 12px;
}
.frame3 div>p{
    width: 27px;
height: 12px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;
vertical-align: middle;
}
.articles{
    width: 100%;
height: 380.98px;
margin-top: 60px;
margin-bottom: 20px;
border-top:  1px solid #E5E5E5;
display: flex;
flex-direction: row;
gap: 15px;
padding-left: 300px;
padding-right: 300px;
padding-top: 30px;
}
.first{
width: 219px;
display: flex;
flex-direction: column;
gap: 15px;
}
.first img{
    width: 117px;
height: 37px;
}
.first p{
    width: 219px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 300;
font-size: 12px;
line-height: 19px;
letter-spacing: 0%;
vertical-align: middle;
color: #757575;
}
.item{
    width: 140px;
height: 296.97px;
padding-bottom: 42px;
padding-right: 10.5px;
padding-left: 10.5px;
display: flex;
flex-direction: column;
gap: 11px;
}
.item h1{
height: 21px;
width: 86px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 21px;
letter-spacing: 0.25px;
vertical-align: middle;
}
.item nav{
    width: 119px;
height: 182px;
gap: 10px;
display: flex;
flex-direction: column;
}
.item nav>a{
    width: 119px;
height: 22px;
padding-top: 1px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 11px;
line-height: 21px;
letter-spacing: 0%;
vertical-align: middle;
text-decoration: none;
color: #757575;
}
.last{
    width: 352.19px;
height: 259.97px;
padding-bottom: 42px;
display: flex;
flex-direction: column;
gap:11px ;
}
.last h1{
    height: 21px;
width: 200px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 21px;
letter-spacing: 0.25px;
vertical-align: middle;
}
.last p{
    width: 262px;
height: 42px;
padding-top: 1px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 11px;
line-height: 21px;
letter-spacing: 0%;
vertical-align: middle;
color: #757575;
}
.last button{
    width: 126.9px;
height: 42px;
padding-top: 13.5px;
padding-right: 33px;
padding-bottom: 14.5px;
padding-left: 33px;
border-width: 1px;
background-color: #000;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #FFF;
}
@media (max-width:768px){

.banners p{
    width: 264px;
    font-size: 10px;
}
.top-left{
    width: 340px;
    height: 20px;
    top: 6.02px;
    left: 27px;
}
.top-left nav{
    width: 380px;
    gap: 7.2px;
}
.top-left nav>a{
    font-size: 10px;
}
.third{
    padding-left: 0px;
    gap: 10px;
}
.shopping-tools{
    width: 340px;
    height:20px ;
    left: 27px;
    top: 12px;
}
.shopping-tools a{
    font-size: 10px;
    line-height: 18.32px;
}
.sign{
left: 67px;
}
.logIn{
    width: 44px;
left: 129.3px;
}
.shopping-tools a>img{
left: 189.3px;
}
.logoFill{
width: 110px;
height: 37.19px;
top: 77.02px;
left: 27px;
}
.group{
width: 370px;
height: 29px;
top: 136.02px;
left: 27px;
}
.categories1{
    width: 90px;
}
.categories2{
    margin-left: 10px;
}
.group div>a{
font-size: 10px;
}
.group div>img{
top: 1px;
}

.heroBanner{
height: 480px;
}
.heroBanner img{
    height: 480px;
}
.heroBanner div{
    width: 200px;
    height: 200px;
    top: 160px;
    left:180px;
}
.heroBanner div>h1{
    width: 200px;
 height: 100px;
font-size: 24px;
line-height: 40px;
}
.heroBanner div>button{
    width: 100px;
height: 36px;
padding: 5px 15px;
font-size: 12px;
margin-top: 10px;
margin-left: 100px;
}

.carousel{
width: 100%;
height: 320px;
}

.glide__arrows{
height: 60px;
padding-left: 40px;
gap: 5px;
}
.glide__arrows button{
    top: 30px;
    left: 130px;
}
.glide__arrows button>img{
    width: 9.16px;
height: 15.41px;
}

.glide__track{
    width: 100%;
    height: 250px;
}
.glide__slides li{
height: 250px;
}
.carouselImages img{
    width: 120px;
height: 200px;
}
.carouselImages p{
font-size: 10px;
line-height: 20px;
}

.aboutUs{
height: 300px;
}
.aboutUs div{
width: 50%;
border: 1px solid white;
height: 300px;
background-color: #000;
}
.aboutUs img{
    height: 300px;
}
.aboutUs div>h2{
    width: 150px;
height: 50px;
top: 56px;
left: 16px;
font-size: 12px;
}
.aboutUs div>h1{
    width: 170px;
height: 70px;
top: 56px;
left: 16px;
font-size: 15px;
line-height: 23px;
}
.aboutUs div>button{
    width: 100px;
height: 26px;
top: 70px;
left: 16px;
font-size: 10px;
line-height: 26px;
border: 1px solid white;
}
.title{
    width: 250px;
height: 66px;
margin-left: 32vw;
font-size: 18px;
}
.BOTTOM{
    height: 547px;
    display: grid;
grid-template-columns: repeat(2,2fr);
}

.produkt img{
    width: 220px;
height: 200px;
margin-left: 30px;

}
.produkt p{
font-size: 14px;
}
.frame3{
    width: 100%;
    height: 320px;
    background-color: #F9F9F9;
    text-align: center;
}
.frame3 h1{
font-size: 30px;
}
.frame3 p{
    width: 350px;
height: 88px;
font-size: 10px;
line-height: 16px;
}
.articles{
    width: 100%;
gap: 5px;
padding-left: 10px;
}
.first{
width: 140px;
}
.first p{
    width: 140px;
font-size: 12px;
}
.item{
    width: 115px;
}

.last{
    width: 80px;
gap:20px ;
}
.last h1{
width: 80px;
font-size: 11px;
line-height: 21px;

}
.last p{
width: 80px;
font-size: 11px;
}
.last button{
width: 80px;
height: 32px;
padding-right: 8px;
padding-left: 8px;
background-color: #000;
font-size: 14px;
line-height: 5px;
color: #FFF;
margin-top: 150px;
}
}
@media (max-width:576px){
 
.banners p{
    width: 264px;
    font-size: 10px;
}
.top-left{
    width: 340px;
    height: 20px;
    top: 6.02px;
    left: 27px;
}
.top-left nav{
    width: 380px;
    gap: 7.2px;
}
.top-left nav>a{
    font-size: 10px;
}
.third{
    padding-left: 0px;
    gap: 10px;
}
.shopping-tools{
    width: 340px;
    height:20px ;
    left: 27px;
    top: 12px; 
}
.shopping-tools a{
    font-size: 10px;
    line-height: 18.32px;
}
.sign{
left: 67px;
}
.logIn{
    width: 44px;
left: 129.3px;
}
.shopping-tools a>img{
left: 189.3px;
}
.logoFill{
width: 110px;
height: 37.19px;
top: 77.02px;
left: 27px;
}
.group{
width: 370px;
height: 29px;
top: 136.02px;
left: 27px;
}
.categories1{
    width: 90px;
}
.categories2{
    margin-left: 10px;
}
.group div>a{
font-size: 10px;
}
.group div>img{
top: 1px;
}

.heroBanner{
height: 480px;
}
.heroBanner img{
    height: 480px;
}
.heroBanner div{
    width: 200px;
    height: 200px;
    top: 160px;
    left:180px;
}
.heroBanner div>h1{
    width: 200px;
 height: 100px;
font-size: 24px;
line-height: 40px;
}
.heroBanner div>button{
    width: 100px;
height: 36px;
padding: 5px 15px;
font-size: 12px;
margin-top: 10px;
margin-left: 100px;
}

.carousel{
width: 100%;
height: 320px;
}

.glide__arrows{
height: 60px;
padding-left: 40px;
gap: 5px;
}
.glide__arrows button{
    top: 30px;
    left: 130px;
}
.glide__arrows button>img{
    width: 9.16px;
height: 15.41px;
}

.glide__track{
    width: 100%;
    height: 250px;
}
.glide__slides li{
height: 250px;
}
.carouselImages img{
    width: 120px;
height: 200px;
}
.carouselImages p{
font-size: 10px;
line-height: 20px;
}

.aboutUs{
height: 300px;
}
.aboutUs div{
width: 50%;
border: 1px solid white;
height: 300px;
background-color: #000;
}
.aboutUs img{
    height: 300px;
}
.aboutUs div>h2{
    width: 150px;
height: 50px;
top: 56px;
left: 16px;
font-size: 12px;
}
.aboutUs div>h1{
    width: 170px;
height: 70px;
top: 56px;
left: 16px;
font-size: 15px;
line-height: 23px;
}
.aboutUs div>button{
    width: 100px;
height: 26px;
top: 70px;
left: 16px;
font-size: 10px;
line-height: 26px;
border: 1px solid white;
}
.title{
    width: 250px;
height: 66px;
margin-left: 32vw;
font-size: 18px;
}
.BOTTOM{
    height: 547px;
    display: grid;
grid-template-columns: repeat(2,2fr);
}

.produkt img{
    width: 150px;
height: 160px;
margin-left: 30px;

}
.produkt p{
font-size: 14px;
}
.frame3{
    width: 100%;
    height: 320px;
    background-color: #F9F9F9;
    text-align: center;
}
.frame3 h1{
font-size: 30px;
}
.frame3 p{
    width: 350px;
height: 88px;
font-size: 10px;
line-height: 16px;
}
.articles{
    width: 100%;
gap: 5px;
padding-left: 10px;
border: 1px solid black;
}
.first{
width: 100px;
border: 1px solid black;
}
.first img{
    width: 100px;
}
.first p{
    width: 100px;
font-size: 10px;
}
.item{
    width: 53px;
    border: 1px solid black;
    padding-left: 0;
}
.item h1{
    border: 1px solid black;
width: 50px;
font-size: 10px;
}
.item nav{
width: 50px;
}
.item nav>a{
width: 50px;
font-size: 10px;
}
.last{
width: 50px;
gap:20px ;
border: 1px solid black;
}
.last h1{
width: 50px;
font-size: 11px;
line-height: 21px;
border: 1px solid black;
}
.last p{
width: 50px;
font-size: 8px;
}
.last button{
width: 50px;
height: 32px;
padding-right: 8px;
padding-left: 8px;
background-color: #000;
font-size: 8px;
line-height: 5px;
color: #FFF;
margin-top: 150px;
}   
}